@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  font-family: 'Gloria Hallelujah', cursive;
}

nav {
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  text-decoration: none;
}

a {
  color: black;
}

.right-nav {
  font-size: 1.5em;
}

footer {
  background: #333;
  color: #FFF;
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

p {
  margin: 0;
  padding: 1em 0;
}

.image-cropper {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.text-center {
  text-align: center;
}

.tower-card {
  margin-bottom: 2em;
}

.large-image-cropper {
  height: 600px;
  width: 100%;
  object-fit: cover;
}

.tower-detail {
  margin-top: 2em;
  margin-bottom: 2em;
}

a:hover {
  text-decoration: none;
  color: black;
}
